.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 4px;
  font-size: 14px;
  color: #333333;
}

.input {
  padding: 10px;
  border: 1px solid #efeeed;
  border-radius: 4px;
  font-size: 14px;
  color: #333333;
  outline: none;
  transition: all 0.2s;

  &::placeholder {
    color: hsl(0, 0%, 78%);
  }

  &:focus {
    color: #333333;
    border-color: #efeeed;
  }
}

.invalid {
  color: var(--color-red) !important;
  border-color: var(--color-red) !important;
}

.error {
  color: var(--color-red);
  font-size: 12px;
  margin-top: 4px;
}
