.button {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  width: 100%;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b7b7b7;
  margin-bottom: 0.5rem;
}

.enabled {
  background-color: var(--color-blue);
  color: #ffffff;

  &:hover {
    filter: brightness(0.95);
  }
}

.disabled {
  background-color: #f6f6f6;
  color: #dddcdc;
  cursor: not-allowed;
}

.loading {
  background-color: var(--color-blue);
  color: #ffffff;
  cursor: wait;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.outline {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: var(--font-logo);
  font-weight: 400;

  &.enabled {
    color: var(--color-blue);
  }

  &.disabled {
    color: var(--color-gray-disabled);
    cursor: not-allowed;
  }

  &.loading {
    color: var(--color-blue);
    border-color: var(--color-blue);
    cursor: wait;
  }
}

.fullWidth {
  width: 100%;
}

.defaultWidth {
  width: auto;
  margin: 0 auto;
}


.secondary {
  background-color: var(--color-red);
}