.button {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.enabled {
  background-color: var(--color-green);
  color: var(--color-white-900);

  &:hover {
    filter: brightness(0.95);
  }
}

.disabled {
  background-color: var(--color-white-900);
  color: var(--color-gray-800);
  cursor: not-allowed;
}

.loading {
  background-color: var(--color-green);
  color: var(--color-white-900);
  cursor: wait;
}

.outline {
  background-color: transparent;
  font-family: var(--font-logo);
  font-weight: 500;

  &.enabled {
    color: var(--color-green);
  }

  &.disabled {
    color: var(--color-gray-600);
    cursor: not-allowed;
  }

  &.loading {
    color: var(--color-green);
    border-color: var(--color-green);
    cursor: wait;
  }
}

.fullWidth {
  width: 100%;
}

.defaultWidth {
  width: auto;
  margin: 0 auto;
}

.secondary {
  background-color: var(--color-red);
}
