.tableWrapper {
  overflow-x: auto;
  width: 100%;
  background-color: var(--color-gray-700);

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    transition: background-color 0.3s ease-in-out;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.5rem;

  th,
  td {
    padding: 12px 8px;
    text-align: left;
    white-space: nowrap;
    font-size: 0.85rem;
  }

  tr {
    :last-child {
      display: flex;
    }
  }

  th {
    font-weight: 600;
    color: var(--color-gray-300);
    font-size: 0.9rem;
  }

  @media (max-width: 700px) {
    thead {
      display: none;
    }

    tr {
      display: block;
      margin-bottom: 1rem;
      border: 1px solid var(--color-gray-800);
      border-radius: 8px;
      padding: 0.5rem;

      :last-child {
        justify-content: flex-end;
        gap: 2rem;
      }
    }

    td {
      display: flex;
      padding: 5px 0;
      font-size: 14px;
    }
  }
}

.edit,
.delete {
  border: none;
  cursor: pointer;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.noData {
  color: var(--color-gray-400);
  text-align: center;
}
