* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --hue: 211;

  --roxo: hsl(var(--hue), 50%, 40%, 0.774);

  --color-red: #eb4a46;
  --color-blue: #00c8b3;
  --color-white: #fff;
  --color-gray-disabled: #dddcdc;

  --font-primary: 'Inter', sans-serif;
  --font-logo: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 4%, 90%);
  // background: #333377 url('../assets/background.svg') no-repeat center top;
  color: #333;
  padding: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button {
  font-family: monospace, sans-serif;
}
